In [8]:
# 1: Introduction To The Data
import sqlite3
conn = sqlite3.connect("nominations.db")
infos = "pragma table_info(nominations);"
schema = conn.execute(infos).fetchall()
#print(schema)
print("------------")
first_ten = "select * from nominations limit 10"
first_ten = conn.execute(first_ten).fetchall()
#print(first_ten)
print("------------")
for row in schema:
    print(row )
print("------------")   
for row  in first_ten:
    print(row )

------------
------------
(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)
------------
(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

In [9]:
# 2: Creating The Ceremonies Table
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]
create_ceremonies = "create table ceremonies (id integer primary key, year integer, host text);"
conn.execute(create_ceremonies)
insert_query = "insert into ceremonies (Year, Host) values (?,?);"
conn.executemany(insert_query, years_hosts)
print(conn.execute("select * from ceremonies limit 10;").fetchall())
print("--------------------")
print(conn.execute("pragma table_info(ceremonies);").fetchall())

OperationalError: table ceremonies already exists

In [ ]:
foreign_keys = "PRAGMA foreign_keys = ON;"
conn.execute(foreign_keys)

In [11]:
# 4: Setting Up One-To-Many

nominations_two = "create table nominations_two (id integer primary key, category text, nominee text, movie text, character text, won text,ceremony_id integer,foreign key(ceremony_id) references ceremonies(id));"

nom_query = '''
select ceremonies.id as ceremony_id, nominations.category as category, 
nominations.nominee as nominee, nominations.movie as movie, 
nominations.character as character, nominations.won as won
from nominations
inner join ceremonies 
on nominations.year == ceremonies.year
;
'''

joined_nominations = conn.execute(nom_query).fetchall()

#conn.execute(nominations_two)

insert_nominations_two = '''insert into nominations_two (ceremony_id, category, nominee, movie, character, won) 
values (?,?,?,?,?,?);
'''

conn.executemany(insert_nominations_two, joined_nominations)
first_five = conn.execute("select * from nominations_two limit 5;").fetchall()

for row in first_five:
    print(row)

(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', '0', 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', '0', 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', '1', 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', '0', 1)

In [12]:
# 5: Deleting And Renaming Tables
delete_nominations = "drop table nominations;"
conn.execute(delete_nominations)

rename_nom_two = "alter table nominations_two rename to nominations;"
conn.execute(rename_nom_two)

In [13]:
# 6: Creating A Join Table
movies = "create table movies (id integer primary key,movie text);"
actors = "create table actors (id integer primary key,actor text);"
movies_actors = '''create table movies_actors (id INTEGER PRIMARY KEY,
movie_id INTEGER references movies(id), actor_id INTEGER references actors(id));
'''

create_list = [movies,actors,movies_actors]

for table in create_list:
    conn.execute(table)